.notice {
    background-image: url(../../../assets/background/152699-abstract-gold-letters-background.webp);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    overflow-x: hidden;
}