.profil {
    background-image: url(../../../assets/background/152699-abstract-gold-letters-background.webp);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    .block {
        display: flex;
        flex-wrap: wrap;
        margin-left: 100px;
        background-color: rgba(255, 255, 255, 0.5);
        padding-top: 30px;

        .user {
            flex-grow: 1;
            width: 18%;
            padding: 10px;
            background-color: white;
            margin: 10px;
            border-radius: 6px;
            max-width: 250px;

            img {
                width: 100%;
                height: auto;
                border-radius: 6px;
            }
        }
    }
}

@media screen and (max-width: 928px) {
    .profil {
        display: none;
    }
}