.headerAccueil {
    background-color: black;
    opacity: 80%;
    height: fit-content;
    margin: 0;

    .headerPhone {
        margin: 0;
        padding: 10px 0;
        color: #ee9c31;
        text-align: center;
        font-size: 40px;
    }

    p {
        margin: 0;
    }

    .navbar {
        cursor: pointer;
    }

    @media screen and (min-width: 928px) {

        .headerLarge {
            display: flex;
            justify-content: space-between;
            background-color: black;
            opacity: 80%;
            height: fit-content;
            margin: 0 20px;
            font-family: 'JetBrains Mono', monospace;

            pre,
            p {
                display: flex;
                align-items: center;
                margin: 0;
                color: #ee9c31;
                font-size: 18px;
            }

            pre {
                font-size: 44px;
            }

            .blocUserInfos {
                background-color: rgba(238, 20, 20, 0.3);
                display: flex;
                padding: 0 20px;
                border: 1px solid white;
                border-radius: 6px;

                .infos {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 10px;
                }

                .profileImage {
                    border-radius: 50px;
                    max-width: 50px;
                }
            }
        }
    }
}