.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../assets/background/kemllFaD8R7RjKgL5lUe--1--i0bj1flou.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    align-items: center;

    .bas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    span {
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            color: #ee9c31;
        }
    }

    button {
        padding: 10px 40px;
        background-color: #ee9c31;
        width: fit-content;
        margin: 10px 0;
        border-radius: 6px;
        border: none;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #9c6318;

        }
    }

    .errorText {
        background-color: #E96969;
        padding: 5px;
        color: white;
        text-align: center;
        border-radius: 6px;
    }

    .blockLogin {
        display: flex;
        flex-direction: column;
        font-family: 'JetBrains Mono', monospace;
        color: white;
        background-color: black;
        opacity: 0.8;
        border-radius: 6px;
        padding: 0 20px;
        width: 80%;

        h1 {
            margin: auto;
        }

        .returnIcon {
            min-width: 50px;
            cursor: pointer;
            font-size: 36px;
            color: white;
            margin: 20px auto 0;
        }

        input {
            width: 80%;
            margin: 10px auto;
            padding: 10px;
            border-radius: 6px;

            &:focus {
                outline: none;
            }

            &:last-child {
                margin-bottom: 40px;
            }
        }
    }

    @media screen and (min-width: 928px) {
        .popup {
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
            font-family: 'JetBrains Mono', monospace;

            .popupContent {
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 20px;
                border-radius: 6px;
                width: 60%;

                h1 {
                    margin: auto;
                }

                input {
                    border-radius: 6px;
                    margin: 20px 0;
                    padding: 10px;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        transition: all 0.2s ease-out;
                    }

                    &:focus::placeholder {
                        transform: translateY(-100%);
                        font-size: 0.8em;
                    }
                }

                .bas {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .returnIcon {
                    min-width: 50px;
                    cursor: pointer;
                    font-size: 36px;
                    color: rgb(0, 0, 0);
                    margin: auto;
                    transition: color 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                span {
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                        color: #ee9c31;
                    }
                }

                button {
                    padding: 10px 40px;
                    background-color: #ee9c31;
                    width: fit-content;
                    margin: 10px 0;
                    border-radius: 6px;
                    border: none;
                    color: white;
                    cursor: pointer;
    
                    &:hover {
                        background-color: #9c6318;

                    }
                }
            }
        }
    }

}