.gitProfil {
    background-image: url(../../../assets/background/kemllFaD8R7RjKgL5lUe--1--i0bj1flou.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    font-family: 'JetBrains Mono', monospace;



    .contain {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-top: 140px;

        p {
            color: white;
            text-align: center;
            width: 80%;
            margin: auto;
            font-size: 24px;
            margin-bottom: 20px;
        }


        .gitlab {
            border: 1px white solid;
            border-radius: 6px;
            display: flex;
            align-items: center;
            width: 80%;
            margin: auto;
            padding: 20px 0;
            justify-content: center;


            button {
                background-color: #ee9c31;
                color: white;
                padding: 10px 20px;
                font-size: 18px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        input,
        textarea {
            width: 80%;
            border-radius: 6px;
            padding: 22px 15px;
            margin: 20px auto;
            border: none;
        }
    }

}