.message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    max-width: 100%;
    background-image: url(../../../assets/background/152699-abstract-gold-letters-background.webp);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;

    .message-bubble {
        border-radius: 10px;
        margin: 0 20px;
        padding: 10px;
        max-width: 70%;
        word-break: break-word;
        margin-top: 20px;

        &.sender {
            background-color: #007bff;
            color: #fff;
            margin-left: auto;
        }

        &.receiver {
            background-color: #f4f4f4;
            color: #000;
            margin-right: auto; 
        }

        &:last-child { // Appliquez la marge inférieure au dernier élément
            margin-bottom: 250px;
        }
    }

    .message-input {
        display: flex;
        gap: 10px;
        align-self: center;
        position: fixed;
        bottom: 100px; /* Position en bas */


        input[type="text"] {
            flex: 1;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            outline: none;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
        }
    }
}